<!DOCTYPE html>
<html lang="sl">
<head>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <ul>
        <li><a class="active" href="chat">Pogovor</a></li>
        <li style="float:right"><a href="/logout">Odjava</a></li>
    </ul>
    <h2>Chat app</h2>
    <iframe src="real_chat" width="100%" height="390px" frameBorder="0"></iframe>

</body>
</html>