<!DOCTYPE html>
<html lang="sl">
<head>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <ul>
        <li><a class="active" href="/">Domača stran</a></li>
        <li style="float:right"><a href="/login">Prijava</a></li>
        <li style="float:right"><a href="/registration">Registracija</a></li>
    </ul>      

    <div class="center">
        <div>
            <h2>Hello</h2>
            <p>To je nek chat app, kjer se lahko pogovarjaš.<br>Če želiš se pridružiti, se registriraj pod zavihkom registracija</p>
            <p class="malo">(Aplikcaija je še v razvoju, zato se za neželjene funkcije opravičujemo)</p>
        </div>
    </div>
    

</body>
</html>
