<!DOCTYPE html>
<html lang="sl">
<head>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>   
    <ul>
        <li><a class="active" href="/">Domača stran</a></li>
        <li style="float:right"><a href="/login">Prijava</a></li>
        <li style="float:right"><a href="/registration">Registracija</a></li>
    </ul> 
    <!-- Just meme -->
    <h2>Pozabljeno geslo</h2>
    <p>Če si pozabil geslo, ne bit debil pa se ga spomni!</p>

</body>
</html>
