<!DOCTYPE html>
<html lang="sl">
    <head>
        <link rel="stylesheet" href="style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>   

        <ul>
            <li><a class="active" href="/">Domača stran</a></li>
            <li style="float:right"><a href="/login">Prijava</a></li>
            <li style="float:right"><a href="/registration">Registracija</a></li>
        </ul> 
        <div class="center">
            <h2>Registracija</h2>
        </div>
        
        <form action="/registration" method="POST">
            <div class="center">
                <div>
                    <div class="center">
                        <label for="nick">Vzdevek</label>
                        <input type="text" id="nick" name="nick" required>
                    </div>
                    <div class="center">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="center">
                        <label for="password">Geslo</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div class="center">
                        <button type="submit" class="button">Registracija</button>
                    <button type="reset" class="button">Izbriši</button>
                    </div>
                </div>
            </div>
        </form>
    </body>
</html>