.btn-lvl {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #444;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
          border: none;
}
.btn-group{
  padding-top: 20px;
  margin: 20px;
}
.btn-group .button {
background-color: #00FFFF; /* Green */
width: 170px;
 border: 2px solid black;
height: 170px;
color: white;
right: 20px;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 13px;
cursor: pointer;
float: left;
}

.btn-group .button:not(:last-child) {
border-right: none; /* Prevent double borders */
}
.float-container {
padding: 0 10px;
}

.float-child {
width: 50%;
float: left;
padding: 0 10px;
}
small {
font-size: 10px;
}
