.mainWrap {
    margin: 0 auto;
    max-width: 800px;
}
.block {
    display: block;
}
.txtCenter {
    text-align: center;
}
.borderBottom {
    border-bottom: solid 1px #20ee83;
}

.mt1 { margin-top: 2vh; }
.mt2 { margin-top: 3vh; }
.mt3 { margin-top: 5vh; }
.mt4 { margin-top: 8vh; }
.mt5 { margin-top: 13vh; }

code, pre{
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    text-shadow: none;
    font-size: 1.25em;
    display: inline-block;
    background-color: #333;
}

.fade {
    transition: opacity 0.5s;
}